<div class="header">
<center><%= image_tag ("menu.jpg") %></center>
 <div class="container">
   
   <center><h1>Weekly Grocery List</h>
   <h2><%= link_to "Plan a New Day", new_chooser_path() %>    <%= link_to "Main Menu", '/' %></h2></center>
 </div>
</div>

<div class="glist">
 <center><div class="container">

 <table border = 1>
 	<tr>
 		<td><h3><center>Selected</center></h3></td>
 		<td><h3><center>Food Item</center></h3></td>
 		<td><h3><center>Cost</center></h3></td>
 	</tr>
 	<% marray = [] %>
  <% @choosers.each do |c, meal| %>
  <% farray = [c.breakfast, c.lunch, c.supper] %>
  <% marray = marray + farray %>
  <% end %>
  <% garray = [] %>
  <% iget = marray.each do |m| %>
  <% mealselect = Meals.find(m) %>
  <% intarray = mealselect.food_id %>
  <% garray = garray + intarray %>
  <% end %>
  <% garray = garray.uniq %>
  <% garray.compact.each do |f| %>
  <% gfind = Foods.find(f) %>
  	<tr>
		<td><b><input type = "checkbox" checked class = "item_checked"></b></td>
		<td><%= gfind.food_name %></td>
		<td><%= number_to_currency(gfind.cost) %></td>
	</tr>
  
<% end %>
		</center>
 </div>
</div>
